<form action="/ikiwiki.cgi" method="post">
<input type="hidden" name="do" value="setupsshkeys" />
<input type="hidden" name="sid" value="<TMPL_VAR SID>" />

<p>
Here you can configure the SSH keys that are allowed to send changes
to this site's git repository. You can add not only your ssh
key, but the keys of others you trust to modify this site.
</p>

<p>
As well as editing the site with git, these keys let you run a few useful
commands:
<ul>
<li>To view the webserver access log in real time, run:
<tt>ssh <TMPL_VAR SSHADDRESS> logview</tt>
<li>To download the webserver access log for your site, run:
<tt>ssh <TMPL_VAR SSHADDRESS> logdump &gt; access.log</tt>
</ul>
</p>

<p>
Your ssh key is typically in the file `.ssh/id_rsa.pub` or
`.ssh/id_dsa.pub` in your home directory. If you don't yet
have a ssh key, you can make one using the <tt>ssh-keygen</tt> program.
</p>

<TMPL_IF DELETE_ERROR>
<span class="error">
<TMPL_VAR DELETE_ERROR>
</span>
</TMPL_IF>

<TMPL_IF KEYS>
Currently enabled SSH keys:
<ul>
<TMPL_LOOP KEYS>
<li>
<pre><TMPL_VAR KEY></pre>
<a href="/ikiwiki.cgi?do=setupsshkeys&delete=<TMPL_VAR KEY_URLENCODED>">Delete key</a>
</li>
</TMPL_LOOP>
</ul>
</TMPL_IF>

<label for="add">SSH key:</label><br />
<input name="add" size=100 value="<TMPL_VAR ADD>"/><br />
<TMPL_IF ADD_ERROR>
<span class="error">
<TMPL_VAR ADD_ERROR>
</span><br />
</TMPL_IF>
<br />
<input type="submit" name="submit" value="Add SSH key" />

</form>
